@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div id="me">hsdis</div>
<div>
    @using (Ajax.BeginForm("About", new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "me",HttpMethod="GET" }))
    {
        <button type="submit">Click</button>

    }
</div>
